import(methods)

importClassesFrom(graph, graph)

importFrom(XML, "xmlAttrs", "xmlChildren", "xmlName", "xmlRoot", "xmlTreeParse")

importMethodsFrom(graph, ugraph)
importFrom(graph, "edges", "nodes<-", "nodes", "edgeData","nodeData",
           nodeDataDefaults, edgeDataDefaults,
           "nodeDataDefaults<-", "edgeDataDefaults<-",
           numEdges, numNodes, plot, subGraph, inEdges,
           addNode, ftM2graphNEL,
           "nodeRenderInfo<-", "edgeRenderInfo<-")

exportPattern("^[^\\.]")

export(subGraph,
       nodes, edges,
       edgeData, nodeData,
       ugraph, numEdges, numNodes, plot, subGraph,
       inEdges,
       "nodes<-")
       


exportMethods("getDisplayName",
              "getEntryID",
              "getKEGGID",
              "getKEGGgeneLink",
              "getType",
              "getName",
              "getSubtype",
              "getValue",
              "getTitle",
              "getComponent",
              "getPathwayInfo",
              "getReactions",
              "getKEGGgeneLink",
              "subtypeDisplay",
              "getSubstrate",
              "getProduct",
              "show")

exportClasses("KEGGEdge",
              "KEGGGroup",
              "KEGGNode",
              "KEGGPathwayInfo",
              "KEGGReaction",
              "KEGGEdgeSubType",
              "KEGGGraphics",
              "KEGGPathway",
              "KEGGPathwayInfo")

##export("KEGGEdgeSubtype")
