importFrom("graph", "edges")
importFrom("graph", "nodes<-")
importFrom("graph", "nodes")

exportPattern("^[^\\.]")
exportMethods("getDisplayName",
              "getEntryID",
              "getKEGGID",
              "getKEGGgeneLink",
              "getType",
              "getName",
              "getSubtype",
              "getValue",
              "getTitle",
              "getComponent",
              "getPathwayInfo",
              "getReactions",
              "getKEGGgeneLink",
              "subtypeDisplay",
              "getSubstrate",
              "getProduct",
              "show",
              "nodes",
              "edges",
              "nodes<-"
)
exportClasses("KEGGEdge",
              "KEGGGroup",
              "KEGGNode",
              "KEGGPathwayInfo",
              "KEGGReaction",
              "KEGGEdgeSubType",
              "KEGGGraphics",
              "KEGGPathway",
              "KEGGPathwayInfo"
)

export("KEGGEdgeSubtype")
